beautifulsoup4==4.8.1
CacheControl==0.12.6
cachetools==4.2.1
certifi==2018.4.16
cffi==1.14.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
Django==2.2.4
et-xmlfile==1.0.1
firebase-admin==4.5.3
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.1.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.37.0
html5lib==1.0.1
httplib2==0.19.1
idna==2.8
image==1.5.27
kiwisolver==1.1.0
lxml==4.4.2
matplotlib==3.1.1
msgpack==1.0.2
numpy==1.17.0
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.9
Pillow==6.1.0
pipenv==2018.7.1
proto-plus==1.18.1
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.2
PyQt5==5.11.3
PyQt5-sip==12.8.1
pyqt5-tools==5.11.3.1.4
PySocks==1.7.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2019.2
requests==2.22.0
rsa==4.7.2
selenium==3.141.0
six==1.15.0
soupsieve==1.9.5
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.3
virtualenv==16.0.0
virtualenv-clone==0.3.0
webencodings==0.5.1
xlrd==2.0.1
